
h1 {
    margin-top: 60px;
    text-align: center;
}

hr {
    width: 1150px;
}

.container {
    width: 300px;
    margin: 0 auto;
}

/* Estilos del semáforo */
.semaforo {
    width: 210px;
    height: 520px;
    background-color: #3f3e3a;
    margin: 20px 0px 0px 48px;
    box-shadow: 0px 0px 15px 5px #000000;
    border: 3px solid #252626;
    border-radius: 5px;
    
}


/* Círculos para el semáforo */

.lights {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.circulo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #252626;
    margin: 13px 0px ;
    background-color: grey;

}


/* Colores para los semáforos */
.rojo {
    background-color: red;
    -webkit-box-shadow: 0px 0px 15px 14px #FF0000; 
    box-shadow: 0px 0px 15px 14px red;
    animation: fadeInAnimation ease 1s;
}
.amarillo {
    background-color: yellow;
    -webkit-box-shadow: 0px 0px 15px 14px yellow; 
    box-shadow: 0px 0px 15px 14px yellow;
    animation: fadeInAnimation ease 1s;
}
.verde {
    background-color: green;
    -webkit-box-shadow: 0px 0px 15px 14px green; 
    box-shadow: 0px 0px 15px 14px green;
    animation: fadeInAnimation ease 1s;
}

/* Keyframe para la animacion */
@keyframes fadeInAnimation {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}