

<h1>Ejercicio Traffic Light</h1>
<hr>

<div class="container">
    <div class="semaforo">
        <div class="lights">
            <div class="circulo" [ngClass]="{rojo: selectedColor == 'rojo'}"></div>
            <div class="circulo" [ngClass]="{amarillo: selectedColor == 'amarillo'}"></div>
            <div class="circulo" [ngClass]="{verde: selectedColor == 'verde'}"></div>
        </div>
    </div>
    
    <app-controlador (emitColors)="getColor($event)" (selectedColor)="getSelectedColor($event)"></app-controlador>
</div>

