
.dataTable {

    margin-left: 65px;
    width: 800px;
}

.tableHeader {

    text-align: left;
    font-size: 18px;
    
}

.tableBody {
    font-size: 14px;
}

@media (max-width: 1170px){
    .dataTable {
        margin: 20px 0px 0px 30px;
    }
}