<!--Tabla que muestra los datos que están en la db-->
<table class="dataTable">

    <!--Nombre de las colummnas-->
    <tr class="tableHeader">
        <th>Nombre de Usuario</th>
        <th>Correo</th>
        <th>Suscrito</th>
        <th>País</th>
        <th>Ciudad</th>
        <th>Acciones</th>
    </tr>

    <!--Imprimo los datos en cada fila de la tabla-->
    <tr class="tableBody" *ngFor="let user of listUsers">

        <td>{{user.username}}</td>
        <td>{{user.email}}</td>

        <!--Con un ngif else, muestro un check o una x en funcion de si el valor devuelto es true o false-->
        <td *ngIf="user.offers === true; else cross">
            <mat-icon>check_circle</mat-icon>
        </td>
            <ng-template #cross>
                <mat-icon>cancel</mat-icon>
            </ng-template>

        <td>{{user.coutry}}</td>
        <td>{{user.city}}</td>

        <!--Enlaces mediante unos iconos para editar o borrar-->
        <td> <a>
                <mat-icon (click)="modifyUser(user.id)" aria-hidden="false" aria-label="Edit">edit</mat-icon>
            </a>
            <a>
                <mat-icon (click)="eliminateUser(user.id)" aria-hidden="false" aria-label="Delete">delete</mat-icon>
            </a>
            
        </td>

      </tr>
</table>


