

<div class="controller">

    <h1>Controlador</h1>

    <label class="title">Color</label>
    <select 
            [(ngModel)]="choseColor"
            (change)="emitToTraffic()"
            [disabled]="!selected"
            class="selectTraffic">
            
        <!--Opciones del select-->    
        <option *ngFor="let color of colors"
                [ngValue]="color">
                    {{ color | titlecase }}                     
        </option>
    </select>

    <input type="checkbox" (click)="changeText()" class="checkbox">
    <label class="labelBtn">{{ button }}</label>
</div>

