

.controller {
    margin: 40px 0px 65px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.title {

    margin-left: 36px;
    font-size: 18px;
}

.labelBtn {
    font-size: 18px;
}

.checkbox {

    margin: 0px 5px;
}

mat-form-field {
   margin-left: 45px;
}


/* Código del select */ 
.selectTraffic {

    width: 110px;
    height: 35px;
    margin: 0 6px;
    padding-left: 5px;
    cursor: pointer;

}

.selectTraffic option {
    font-size: 16px;
}

.controller .selectTraffic {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    background: #F2F2F2;
}


/* Código para modificar el checkbox */
.controller .checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
}



