

.controller {
    margin-top: 40px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.title {

    margin-left: 36px;
    font-size: 18px;
}

.labelBtn {
    font-size: 18px;
}

.checkbox {

    margin: 0px 5px 0px 5px;
}

mat-form-field {
   margin-left: 45px;
}

.selectTraffic {

    width: 100px;
    height: 30px;
    margin: 0 6px;

}

.selectTraffic option {
    font-size: 16px;
}

