
.form {
    width: 300px;
    padding: 8px 0px 0px 20px;
    margin-bottom: 10px;
    border: 2px solid #666bc2;
    border-radius: 5px;
    box-shadow: 10px 9px 14px 3px #cbc9da;
    background: rgba(226, 224, 243, 0.3);
}


.mat-hint {
    color: black !important;
    font-size: 16px !important;
}

span {
    color: #A40000;
}

@media (max-width: 1170px){
    .form {
        margin-left: 30px;
    }
}