
h1 {
    margin-top: 60px;
    text-align: center;
}

h3 {
    margin-top: 20px;
}

hr {
    width: 1150px;
    margin: 0 auto;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.btnText {
    padding: 8px 16px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.btnHide {
    margin: 20px 0px;
}

.btnHide > button {
    box-shadow: 3px 3px 7px 1px #666bc2;
}

.showText {
    width: 400px;
    height: 100px;
    background-color: #7885D0;
    border-radius: 6px;
    border: 3px solid #3B4CAA;
}

.showText > p {

    margin-top: 40px;
    font-size: 32px;
    text-align: center;
    color: white;
}

@media (max-width: 1200px){
    hr{
        width: auto;
        margin: 0px 10px;
    }
    .container {
        width: auto;
        margin: 0px 20px;
    }

    @media (max-width: 400px){
        .showText {
            width: auto;
        }
    }
    
}